<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-3 has-text-centered">Zarejestruj się</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "box" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- Pole Imię -->
          <div class="field">
            <label class="label"><%= f.label :first_name, "Imię" %></label>
            <div class="control has-icons-left">
              <%= f.text_field :first_name, class: "input", placeholder: "Wprowadź swoje imię" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <!-- Pole Nazwisko -->
          <div class="field">
            <label class="label"><%= f.label :last_name, "Nazwisko" %></label>
            <div class="control has-icons-left">
              <%= f.text_field :last_name, class: "input", placeholder: "Wprowadź swoje nazwisko" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <!-- Pole Email -->
          <div class="field">
            <label class="label"><%= f.label :email, "Email" %></label>
            <div class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Wprowadź swój email" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <!-- Pole Hasło -->
          <div class="field">
            <label class="label"><%= f.label :password, "Hasło" %></label>
            <% if @minimum_password_length %>
              <p class="help is-info">(<%= @minimum_password_length %> znaków minimum)</p>
            <% end %>
            <div class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Wprowadź hasło" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <!-- Pole Potwierdzenie Hasła -->
          <div class="field">
            <label class="label"><%= f.label :password_confirmation, "Potwierdź hasło" %></label>
            <div class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Potwierdź hasło" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <!-- Przycisk Zarejestruj się -->
          <div class="field">
            <div class="control">
              <%= f.submit "Zarejestruj się", class: "button is-primary is-fullwidth" %>
            </div>
          </div>
        <% end %>

        <div class="has-text-centered">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
