<section class="section">
  <div class="container">
    <h1 class="title is-3 has-text-centered">Panel Użytkownika</h1>
    <p class="subtitle is-5 has-text-centered">Witaj, <%= current_user.first_name %>!</p>

    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="box has-text-centered">
          <h2 class="title is-4">Twoje wydarzenia</h2>
          <p>Przeglądaj swoje wydarzenia.</p>
          <a href="<%= events_path %>" class="button is-primary">Przejdź do wydarzeń</a>
        </div>
      </div>

      <div class="column is-6">
        <div class="box has-text-centered">
          <h2 class="title is-4">Statystyki</h2>
          <p>Przeglądaj swoje statystyki.</p>
          <a href="#" class="button is-info">Przejdź do statystyk</a>
        </div>
      </div>
    </div>

    <hr>

    <h2 class="title is-4">Ostatnie wydarzenia</h2>
    <ul>
      <% events.each do |event| %>
        <li><%= event.name %> - <%= event.date.strftime("%Y-%m-%d") %></li>
      <% end %>
    </ul>

    <hr>

    <h2 class="title is-4">Statystyki</h2>
    <ul>
      <li>Łączna liczba wydarzeń: <%= statistics[:total_events] %></li>
      <li>Łączna liczba biletów: <%= statistics[:total_tickets] %></li>
    </ul>
  </div>
</section>
