<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-3 has-text-centered">Zaloguj się jako Administrator</h2>

        <% if flash[:alert] %>
          <div class="notification is-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "box" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <label class="label"><%= f.label :email, "Email" %></label>
            <div class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Wprowadź swój email" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label"><%= f.label :password, "Hasło" %></label>
            <div class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Wprowadź swoje hasło" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  <span>Zapamiętaj mnie</span>
                </label>
              </div>
            </div>
          <% end %>

          <div class="field">
            <div class="control">
              <%= f.submit "Zaloguj się", class: "button is-primary is-fullwidth" %>
            </div>
          </div>
        <% end %>

        <div class="has-text-centered">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
