<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="has-text-weight-bold is-size-4">
        <span class="has-text-primary">Ticket</span><span class="has-text-gray">Wave</span>
      </span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start is-flex is-justify-content-center" style="flex-grow: 1;">
      <a class="navbar-item" href="/events">
        Wydarzenia
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <button data-controller="theme" data-action="click->theme#toggle" class="button is-light">
          <img src="<%= asset_path('sun_icon.svg') %>" alt="Przełącz tryb" width="24" height="24">
        </button>

        <% if admin_signed_in? %>
          <p>
            Serwus, <%= current_admin.first_name %>! <span class="has-text-weight-bold">(A)</span>
          </p>
          <%= button_to "Wyloguj się", destroy_admin_session_path, method: :delete, class: "button is-light" %>
        <% elsif user_signed_in? %>
          <p>
            Serwus, <%= current_user.first_name %>!
          </p>
          <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "button is-light" %>
        <% else %>
          <div class="buttons">
            <a class="button is-primary" href="<%= new_user_registration_path %>">
              <strong>Zarejestruj się</strong>
            </a>
            <a class="button is-light" href="<%= new_user_session_path %>">
              Zaloguj się
            </a>
            <a href="<%= new_admin_session_path %>">
              <img src="<%= asset_path('lifebuoy_icon.svg') %>" alt="Zaloguj się jako administrator" width="24" height="24">
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
