<div id="ticket_batches_list">
  <% if event.ticket_batches.any? %>
    <div class="box mt-4">
      <h2 class="title is-4">Pule biletów</h2>
      <div class="table-container">
        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Liczba biletów</th>
              <th>Cena</th>
              <th>Początek sprzedaży</th>
              <th>Koniec sprzedaży</th>
              <th>Akcje</th>
            </tr>
          </thead>
          <tbody>
            <% event.ticket_batches.each do |batch| %>
              <tr>
                <td><%= batch.available_tickets %></td>
                <td><%= number_to_currency(batch.price, unit: "PLN", format: "%n %u") %></td>
                <td><%= batch.sale_start&.strftime("%d-%m-%Y %H:%M") %></td>
                <td><%= batch.sale_end&.strftime("%d-%m-%Y %H:%M") %></td>
                <td>
                  <%= link_to "Edytuj", edit_event_ticket_batch_path(event, batch),
                      class: "button is-small is-warning",
                      data: { turbo_frame: "modal_frame" } %>

                  <%= button_to "Usuń",
                      event_ticket_batch_path(event, batch),
                      method: :delete,
                      form: { data: { turbo_confirm: "Czy na pewno chcesz usunąć tę pulę biletów?" } },
                      class: "button is-small is-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="notification is-info mt-4">
      Brak zdefiniowanych pul biletów dla tego wydarzenia.
    </div>
  <% end %>
</div>
