<div class="container mt-5">
  <div class="box">
    <h1 class="title is-3 has-text-primary">Edytuj wydarzenie</h1>
    <p class="subtitle is-5 has-text-grey">Zmień dane wydarzenia i zapisz</p>

    <%= form_with model: event, url: event_path(event), method: :patch, local: true, multipart: true do |form| %>
      <div class="field">
        <%= form.label :name, "Nazwa wydarzenia", class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input", placeholder: "Wprowadź nazwę wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :description, "Opis", class: "label" %>
        <div class="control">
          <%= form.text_area :description, class: "textarea", placeholder: "Wprowadź opis wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :place, "Miejsce", class: "label" %>
        <div class="control">
          <%= form.text_field :place, class: "input", placeholder: "Wprowadź miejsce wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :date, "Data i godzina", class: "label" %>
        <div class="control">
          <%= form.datetime_local_field :date, class: "input", min: DateTime.now.strftime('%Y-%m-%dT%H:%M'), value: event.date&.strftime('%Y-%m-%dT%H:%M') %>
        </div>
      </div>

      <div class="field">
        <%= form.label :category, "Kategoria", class: "label" %>
        <div class="control">
          <div class="select is-primary is-rounded">
            <%= form.select :category, Event.categories.keys.map { |key| [key.humanize, key] }, {}, {} %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :image, "Obraz wydarzenia", class: "label" %>
        <div class="control">
          <% if event.image.attached? %>
            <figure class="image mb-3 is-128x128">
              <%= image_tag event.image.variant(resize_to_limit: [128, 128]) %>
            </figure>
            <p class="help mb-2">Aktualne zdjęcie. Wybierz nowe, aby zmienić:</p>
          <% end %>
          <%= form.file_field :image, class: "file", direct_upload: true, accept: "image/*" %>
        </div>
        <p class="help">Wybierz obraz dla wydarzenia. Wspierane formaty: JPG, PNG, GIF.</p>
      </div>

      <div class="buttons">
        <%= form.submit "Zapisz zmiany", class: "button is-primary" %>
        <%= link_to "Anuluj", events_path, class: "button is-light" %>
      </div>
    <% end %>
  </div>
</div>
