<div class="container mt-5">
  <div class="box">
    <h1 class="title is-3 has-text-primary">Dodaj nowe wydarzenie</h1>
    <p class="subtitle is-5 has-text-grey">Wypełnij poniższe pola, aby dodać nowe wydarzenie</p>

    <%= form_with model: event, url: events_path, local: true, multipart: true do |form| %>
      <% if event.errors.any? %>
        <div class="notification is-danger">
          <h2 class="has-text-weight-bold"><%= pluralize(event.errors.count, "błąd") %> uniemożliwił zapisanie wydarzenia:</h2>
          <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, "Nazwa wydarzenia", class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input", placeholder: "Wprowadź nazwę wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :description, "Opis", class: "label" %>
        <div class="control">
          <%= form.text_area :description, class: "textarea", placeholder: "Wprowadź opis wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :place, "Miejsce", class: "label" %>
        <div class="control">
          <%= form.text_field :place, class: "input", placeholder: "Wprowadź miejsce wydarzenia" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :date, "Data i godzina", class: "label" %>
        <div class="control">
          <%= form.datetime_local_field :date, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :category, "Kategoria", class: "label" %>
        <div class="control">
          <div class="select is-primary is-rounded">
            <%= form.select :category,
                            options_for_select([["- Wybierz kategorię -", nil]] + Event.categories.keys.map { |key| [key.humanize, key] }, selected: form.object.category),
                            {}, {} %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :image, "Obraz wydarzenia", class: "label" %>
        <div class="control">
          <%= form.file_field :image, class: "file", direct_upload: true, accept: "image/*" %>
        </div>
        <p class="help">Wybierz obraz dla wydarzenia. Wspierane formaty: JPG, PNG, GIF.</p>
      </div>

      <div class="buttons">
        <%= form.submit "Dodaj wydarzenie", class: "button is-primary" %>
        <%= link_to "Anuluj", events_path, class: "button is-light" %>
      </div>
    <% end %>
  </div>
</div>