<div class="container mt-5">
  <div class="box">
    <div class="columns">
      <div class="column is-4">
        <figure class="image is-4by3">
          <% if event.image.attached? %>
            <%= image_tag url_for(event.image), alt: event.name, class: "is-slightly-rounded" %>
          <% else %>
            <img src="https://placehold.co/400x300/7957d5/FFFFFF?text=<%= event.category.capitalize %>" alt="<%= event.name %>">
          <% end %>
        </figure>
      </div>
      <div class="column is-8">
        <h1 class="title is-3 has-text-primary"><%= event.name %></h1>
        <p class="subtitle is-5 has-text-grey">Szczegóły wydarzenia</p>

        <div class="content">
          <p><strong>Opis:</strong> <%= event.description %></p>
          <p><strong>Miejsce:</strong> <%= event.place %></p>
          <p><strong>Data:</strong> <%= event.date.strftime("%d-%m-%Y %H:%M") %></p>
          <p><strong>Kategoria:</strong> <%= event.category %></p>
        </div>

        <div class="buttons">
          <% unless event.past_event? %>
            <%= link_to "Edytuj", edit_event_path(event), class: "button is-warning" %>
          <% end %>
          <%= link_to "Usuń", event_path(event), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć to wydarzenie?" }, class: "button is-danger" %>
          <%= link_to "Powrót do listy", events_path, class: "button is-light" %>
          <% unless event.past_event? %>
              <%= link_to "Dodaj pulę biletów", new_event_ticket_batch_path(event),
              class: "button is-primary",
              data: { turbo_frame: "modal_frame" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "ticket_batches_list", event: event %>
  <turbo-frame id="modal_frame"></turbo-frame>
</div>