<%# app/views/orders/index.html.erb %>
<div class="container mt-4">
  <h1 class="title is-2">Historia zamówień</h1>

  <% if orders.any? %>
    <div class="table-container">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Numer zamówienia</th>
            <th>Wydarzenie</th>
            <th>Data wydarzenia</th>
            <th>Ilość biletów</th>
            <th>Kwota</th>
            <th>Status</th>
            <th>Data zakupu</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% orders.each do |order| %>
            <tr>
              <td>#<%= order.id %></td>
              <td><%= order.event.name %></td>
              <td><%= order.event.date.strftime("%d.%m.%Y, %H:%M") %></td>
              <td><%= order.quantity %></td>
              <td><%= number_to_currency(order.total_price, unit: "zł", format: "%n %u") %></td>
              <td><span class="tag is-success">Zakupione</span></td>
              <td><%= order.created_at.strftime("%d.%m.%Y, %H:%M") %></td>
              <td>
                <%= link_to "Szczegóły", order_path(order), class: "button is-small is-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="notification is-info">
      <p>Nie masz jeszcze żadnych zamówień.</p>
    </div>
  <% end %>

  <div class="buttons mt-4">
    <%= link_to "Powrót do wydarzeń", events_path, class: "button is-light" %>
  </div>
</div>
