<section class="section">
  <div class="container">
    <h1 class="title is-3 has-text-centered">Panel Administratora</h1>
    <p class="subtitle is-5 has-text-centered">Witaj, <%= current_admin.first_name %>!</p>

    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="box has-text-centered">
          <h2 class="title is-4">Zarządzaj wydarzeniami</h2>
          <p>Dodawaj, edytuj i usuwaj wydarzenia.</p>
          <a href="<%= events_path %>" class="button is-primary">Przejdź do wydarzeń</a>
        </div>
      </div>

      <div class="column is-4">
        <div class="box has-text-centered">
          <h2 class="title is-4">Zarządzaj użytkownikami</h2>
          <p>Przeglądaj listę użytkowników i zarządzaj ich kontami.</p>
          <a href="#" class="button is-warning">Przejdź do użytkowników</a>
        </div>
      </div>

      <div class="column is-4">
        <div class="box has-text-centered">
          <h2 class="title is-4">Statystyki</h2>
          <p>Przeglądaj statystyki dotyczące wydarzeń i użytkowników.</p>
          <a href="#" class="button is-info">Przejdź do statystyk</a>
        </div>
      </div>
    </div>

    <hr>

    <h2 class="title is-4">Ostatnie wydarzenia</h2>
    <ul>
      <% events.each do |event| %>
        <li><%= event.name %> - <%= event.date.strftime("%Y-%m-%d") %></li>
      <% end %>
    </ul>

    <hr>

    <h2 class="title is-4">Ostatni użytkownicy</h2>
    <ul>
      <% users.each do |user| %>
        <li><%= user.first_name %> <%= user.last_name %> - <%= user.email %></li>
      <% end %>
    </ul>

    <hr>

    <h2 class="title is-4">Statystyki</h2>
    <ul>
      <li>Łączna liczba wydarzeń: <%= statistics[:total_events] %></li>
      <li>Łączna liczba użytkowników: <%= statistics[:total_users] %></li>
      <li>Łączna liczba administratorów: <%= statistics[:total_admins] %></li>
    </ul>
  </div>
</section>
